<div class="container">
  <div class="row p-3">
    <div class="col text-center imgNau">
      <img src="{{srcImgNauIndividual}}" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h2> {{ nauIndividual.name }} </h2>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Model: {{ nauIndividual.model }}</p>
      <p>Class: {{ nauIndividual.starship_class }}</p>
      <p>Manufacturer: {{ nauIndividual.manufacturer }}</p>
      <p>Films: {{ nauIndividual.films }}</p>
      <p>Pilots: {{ nauIndividual.pilots }}</p>
    </div>
    <div class="col">
      <p>Cost in credits: {{ nauIndividual.cost_in_credits }} € </p>
      <p>Length: {{ nauIndividual.length }} m</p>
      <p>Crew: {{ nauIndividual.crew }}</p>
      <p>Passengers: {{ nauIndividual.passengers }}</p>
      <p>Atmospheric speed: {{ nauIndividual.max_atmosphering_speed }}</p>
      <p>Hyperdrive Rating: {{ nauIndividual.hyperdrive_rating }}</p>
      <p>Cargo capacity: {{ nauIndividual.cargo_capacity }} kg</p>
      <p>Consumables: {{ nauIndividual.consumables }}</p>
    </div>
  </div>

</div>