h2 {
  color: whitesmoke;
  font-weight: lighter;
  font-family: "Sono-Light";
  text-transform: uppercase;
  text-align: start;
  padding: 10px;
}

p {
  color: grey;
  font-family: "Sono-Regular";
}

.imgNau {
  border-bottom: 2px ridge rgb(255, 0, 0, 0.8);
}

img {
  padding-bottom: 1px;
}
