<div class="container-fluid">
	<div class="row">
		<div class="col col-3"></div>
		<div class="col">
			<a href="/home"> <img src="../assets/SW_logo.png" alt="star wars logo" style="width: 20rem;"></a>
		</div>
		<div class="col col-3">
			<button type="button" class="btn btn-dark obrirModal">
				<a routerLink="/auth/logModal">
					login
				</a>
			</button>
			<button type="button" class="btn btn-dark obrirModal">
				<a routerLink="/auth/regModal">
					registre
				</a>
			</button>
		</div>
	</div>
</div>