<div class="card text-center" style="width: 18rem;">
	<img src="{{srcImgPilotIndividual}}" class="card-img-top" alt="imatge del pilot" />
	<div class="card-body">
		<h5 class="card-title"> {{ pilotIndividual.name }} </h5>
		<div class="card-text">
			<ul>
				<p class="titol">Birth Year: </p>
				<p>{{ pilotIndividual.birth_year }}</p>
			</ul>
			<ul>
				<p class="titol">Gender: </p>
				<p>{{ pilotIndividual.gender }}</p>
			</ul>
			<ul>
				<p class="titol">Height: </p>
				<p>{{ pilotIndividual.height }}</p>
			</ul>
			<ul>
				<p class="titol">Mass: </p>
				<p>{{ pilotIndividual.mass }}</p>
			</ul>
			<ul>
				<p class="titol">Eye colour: </p>
				<p>{{ pilotIndividual.eye_color }}</p>
			</ul>
			<ul>
				<p class="titol">Hair colour: </p>
				<p>{{ pilotIndividual.hair_color }}</p>
			</ul>
			<ul>
				<p class="titol">Skin colour: </p>
				<p>{{ pilotIndividual.skin_color }}</p>
			</ul>
		</div>
	</div>
</div>